<!DOCTYPE html>
<html>
    <head>
        <title>Team Name</title>
    </head>

    <body>
        <h1>Team Name</h1>
        <a href="https://github.com/Minigrim0">
            <img src="https://www.gravatar.com/avatar/7386f631d26a9fde6ec1571f899f2465?s=100" alt="Minigrim0">
        </a>
        <a href="https://github.com/Mortinat">
            <img src="https://www.gravatar.com/avatar/18a27f3ba520c4fdb0a1f4b0bac4f846?s=100" alt="Morti">
        </a>
        <a href="https://github.com/mzavagli">
            <img src="https://www.gravatar.com/avatar/1278f2f1cae90c8ddfe95b3360578c06?s=100" alt"mzavagli">
        </a>
        <a href="https://github.com/yishyu">
            <img src="https://www.gravatar.com/avatar/dc82089df9c1fa49ba5814971b82cd7c?s=100" alt="yishyu">
        </a>
    </body>
</html>